--qnum=__QNUM__
--user=nobody
--daemon
--pidfile=__ZENITH_DIR__/sandbox/nfqws2_sandbox.pid
--debug=@__ZENITH_DIR__/sandbox/nfqws2_sandbox.debug.log
--filter-tcp=443 --filter-l7=tls
--lua-desync=fake:blob=fake_default_tls:ip_ttl=6
